data/ filter=lfs diff=lfs merge=lfs -text
data/bg_full.txt filter=lfs diff=lfs merge=lfs -text
data/Lexique383.tsv filter=lfs diff=lfs merge=lfs -text
data/nl_full.txt filter=lfs diff=lfs merge=lfs -text
data/pt_full.txt filter=lfs diff=lfs merge=lfs -text
data/de_word_ipa.csv filter=lfs diff=lfs merge=lfs -text
data/lv_full.txt filter=lfs diff=lfs merge=lfs -text
data/sq_full.txt filter=lfs diff=lfs merge=lfs -text
data/uk_full.txt filter=lfs diff=lfs merge=lfs -text
data/mk_full.txt filter=lfs diff=lfs merge=lfs -text
data/city_temperature.csv filter=lfs diff=lfs merge=lfs -text
data/da_full.txt filter=lfs diff=lfs merge=lfs -text
data/dictionary_sorted.json filter=lfs diff=lfs merge=lfs -text
data/dictionary.txt filter=lfs diff=lfs merge=lfs -text
data/el_full.txt filter=lfs diff=lfs merge=lfs -text
data/hr_full.txt filter=lfs diff=lfs merge=lfs -text
data/is_full.txt filter=lfs diff=lfs merge=lfs -text
data/no_full.txt filter=lfs diff=lfs merge=lfs -text
data/osps37.txt filter=lfs diff=lfs merge=lfs -text
data/ro_full.txt filter=lfs diff=lfs merge=lfs -text
data/sv_full.txt filter=lfs diff=lfs merge=lfs -text
data/train.jsonl filter=lfs diff=lfs merge=lfs -text
data/unigram_freq.csv filter=lfs diff=lfs merge=lfs -text
